.fc-form .field label {
    display: block;
}

.fc-form input[type=text], .fc-form select, .fc-form textarea {
    padding-right: 33px;
    padding-left: 12px;
    font-size: 14px;
    font-weight: normal;
    color: #333;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    box-shadow: none;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    line-height: 1.42857143;
    background-image: none;
    border-radius: 4px;
}

.fc-form textarea {
    height: auto;
}

.fc-form .fc-error input, .fc-form .fc-error textarea {
    border: 1px solid #ebccd1;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.fc-form .fc-error label {
    color: #a94442;
}

.fc-btn {
    border-width: 0;
    padding: 7px 14px;
    font-size: 14px;
    outline: none !important;
    background-image: none !important;
    filter: none;
    box-shadow: none;
    text-shadow: none;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

div.fc-submit {
    margin: 15px 0;
}

.fc-field {
    margin: 15px 0 20px 0;
}

.fc-fieldgroup label {
    font-weight: normal;
}

.fc-inline {
    display: inline;
}

.fc-field-radioList .fc-inline, .fc-field-checkboxList .fc-inline {
    padding-right: 10px;
}