.fc-container {
    position: relative;
    margin: 15px;
}

.fc-container .fc-loading-screen {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    background: #000;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border-radius: 9px;
    opacity: 0.7;
    display: none;
}

.fc-container .fc-loading-screen.show {
    display: block;
}

.fc-container .fc-loading-screen .fc-loading-halo {
    width: 128px;
    height: 128px;
    background: #fff url(img/load.gif) 50% 50% no-repeat;
    left: calc(50% - 64px);
    top: calc(50% - 64px);
    position: absolute;
    border-radius: 64px;
}

.fc-form .field label {
    display: block;
}

.fc-container input[type=text], .fc-container select, .fc-container textarea {
    padding-right: 33px;
    padding-left: 12px;
    font-size: 14px;
    font-weight: normal;
    color: #333;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    box-shadow: none;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    line-height: 1.42857143;
    background-image: none;
    border-radius: 4px;
}

.fc-container textarea {
    height: auto;
}

.fc-container .fc-error input, .fc-container .fc-error textarea {
    border: 1px solid #ebccd1;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.fc-container .fc-error > label {
    color: #a94442;
}

.fc-btn {
    border-width: 0;
    padding: 7px 14px;
    font-size: 14px;
    outline: none !important;
    background-image: none !important;
    filter: none;
    box-shadow: none;
    text-shadow: none;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

div.fc-pagination {
    margin: 15px 0;
}

.fc-field {
    margin: 15px 0 20px 0;
}

.fc-fieldgroup label {
    font-weight: normal;
}

.fc-inline {
    display: inline;
}

.fc-field-radioList .fc-inline, .fc-field-checkboxList .fc-inline {
    padding-right: 10px;
}

.fc-field-hidden {
    display: none;
}

.fc-hide {
    display: none !important;
}

.fc-clear {
    display: block;
    clear: both;
}

.fc-table-row {
    display: table-row;
}

.fc-table-col {
    display: table-cell;
}

.fc-table {
    display: table;
}

.fc-error-text {
    display: none;
}

.fc-error .fc-error-text {
    display: block;
    padding-top: 4px;
    font-size: 12px;
    color: #d05128;
    clear: both;
}

/* Hide fields on repeatable */
.fc-field .fc-repeatable .fc-fieldgroup .fc-field, .fc-field .fc-repeatable .fc-fieldgroup .fc-fieldinput {
    display: none;
}

/* Show repeatable fields outputted to DOM by default */
.fc-field .fc-repeatable.fc-repeatable-predetermined .fc-fieldgroup .fc-fieldinput {
    display: block;
}

.fc-repeatable-container .fc-fieldcontainer > label {
    margin-bottom: 0;
    padding-bottom: 6px;
}

.fc-modal .fc-repeatable .fc-link {
    display: none;
}

.fc-field .fc-repeatable-container .fc-fieldcontainer > label {
    padding-bottom: 0;
}

.fc-modal:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.fc-modal.fc-show:before {
    display: block;
}

.fc-modal:target:before {
    display: block;
}

.fc-modal:target .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    top: 20%;
}

.fc-modal .modal-dialog {
    background: #fefefe;
    border: #333333 solid 1px;
    border-radius: 5px;
    margin-left: -200px;
    position: fixed;
    left: 50%;
    top: -100%;
    z-index: 11;
    width: 360px;
    -webkit-transform: translate(0, -500%);
    -ms-transform: translate(0, -500%);
    transform: translate(0, -500%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.fc-modal h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.fc-modal.fc-show .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    top: 20%;
}

.fc-modal .modal-body {
    padding: 20px;
}

.fc-modal .modal-header,
.fc-modal .modal-footer {
    padding: 10px 20px;
}

.fc-modal .modal-header {
    border-bottom: #eeeeee solid 1px;
}

.fc-modal .modal-header h2 {
    font-size: 20px;
}

.fc-modal .modal-footer {
    border-top: #eeeeee solid 1px;
    text-align: right;
}

.fc-modal label {
    font-weight: normal;
}

#fc-modal .modal-footer a {
    color: #fff;
}

/*ADDED TO STOP SCROLLING TO TOP*/
#close {
    display: none;
}

#fc-modal .fc-summary {
    display: none;
}

.fc-break {
    clear: both;
}

.fc-payment > div {
    margin-bottom: 15px;
    display: inline-block;
    width: 49%;
    margin-right: 2%;
}

.fc-payment > div:nth-child(even) {
    margin-right: 0;
}

.fc-payment label {
    display: block;
    margin-bottom: 15px;
}

.fc-payment .fc-cc-expirydate-month, .fc-payment .fc-cc-expirydate-year {
    display: inline-block;
    width: 49%;
    margin-right: 2%;
}

.fc-payment .fc-cc-expirydate-year {
    margin-right: 0;
}

.fc-payment .fc-cc-ccv {
    position: relative;
}

.fc-payment .fc-cc-ccv .fc-fieldinput {
    width: 80%;
}

.fc-payment .fc-cc-ccv img {
    max-height: 40px;
    position: absolute;
    right: 0;
    top: 35px;
}

.fc-prev-page {
    float: left;
}

.fc-submit {
    float: right;
}

.fc-summary-table td {
    padding: 0 60px 0 0;
}

.fc-summary-table tr + tr td {
    padding-top: 35px;
}

.fc-summary {
    margin-bottom: 20px;
}

.fc-field-grouplet {
    margin-bottom: 0;
}

.fc-field-grouplet .fc-field:last-child {
    margin-bottom: 0;
}

.fc-section {
    margin-bottom: 15px;
}

.fc-page {
    padding-top: 10px;
    clear: both;
}

.fc-send-email .fc-btn {
    float: left;
}

.fc-send-email .fc-loading, .fc-modal .modal-footer .fc-loading, .fc-loading {
    float: left;
    background: #fff url(img/loading-small.gif) no-repeat center center;
    height: 36px;
    width: 36px;
    border-radius: 18px;
    margin-left: 10px;
}

.fc-modal .modal-footer .fc-loading {
    float: left;
    margin-left: 0;
}

.fc-verification-options {
    padding-top: 14px;
}

.fc-modal .modal-footer .fc-error {
    float: left;
    font-size: 11px;
    color: #F62459;
    width: 300px;
    text-align: left;
}

.fc-field-emailVerification .fc-success, .fc-field-smsVerification .fc-success {
    display: none;
}

.fc-field-emailVerification.fc-verified .fc-success, .fc-field-smsVerification.fc-verified .fc-success {
    display: block;
}

.fc-field-emailVerification.fc-verified .fc-email-verification, .fc-field-smsVerification.fc-verified .fc-sms-verification {
    display: none;
}

.fc-success p {
    color: #82B32C;
}

.fc-force-show {
    display: block !important;
}

.fc-verified .fc-error-text {
    display: none;
}

.fc-field-creditCard .fc-error {
    padding: 0 0 18px 0;
}

.fc-table-summary table.fc-summary {
    width: 100%;
}

.fc-table-summary table.fc-summary .fc-total {
    width: 20%;
}

.fc-table {
    border: 1px solid #f1f1f1;
}

.fc-table thead th {
    background: #f1f1f1;
    padding: 6px;
}

.fc-table.fc-summary thead th, .fc-table.fc-summary tbody td {
    padding: 8px 24px 8px 8px;
    line-height: 10px;
}

.fc-text-right {
    text-align: right;
}

.fc-right {
    float: right;
}

.fc-table-summary {
    margin-bottom: 45px;
}

.fc-review-table table {
    width: 100%;
}

.fc-review-table thead th {
    border-bottom: 1px solid #DFE0E5;
}

.fc-review-table table .fc-field-col {
    width: 45%;
}

.fc-review-table td, .fc-review-table tbody th {
    color: #6E6E6E;
    padding: 16px 12px;
    font-size: 15px;
    border-bottom: 1px solid #DFE0E5;
}

.fc-review-table table {
    border: #DFE0E5 1px solid;
}

.fc-review-table tr:nth-child(odd) td, .fc-review-table tr:nth-child(odd) th {
    background: #f7f7f7;
}

.fc-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.fc-container .sig {
    display: block;
    height: 80px;
    width: 405px;
}

.fc-container .sigPad {
    width: 405px;
}

.fc-container .clearButton, .fc-container .sigNav {
    display: block !important;
}

.fc-container .sigNav a, .fc-container .sigNav {
    line-height: 1.25em !important;
    max-height: 1.25em !important;
}

.fc-field-signature {
    margin-top: 0;
    padding-top: 0;
}

.fc-button, .fc-field-grouplet.fc-repeatable-container .fc-link a {
    -ms-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #bdbdbd;
    background: -webkit-linear-gradient(#fff, #e0e1e2);
    background: linear-gradient(#fff, #e0e1e2);
    background: -ms-linear-gradient(top, #fff, #e0e1e2);
    text-shadow: 0 1px 0 #fff;
    font-size: 16px;
    color: #231f20;
    min-width: 70px;
    text-align: center;
    text-decoration: none !important;
    height: 48px;
    line-height: 48px;
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 0 22px;
}

.fc-button:hover,
.fc-button,
.fc-field-grouplet.fc-repeatable-container .fc-link a:hover,
.fc-button:active,
.fc-button,
.fc-field-grouplet.fc-repeatable-container .fc-link a:active,
.fc-button.checked,
.fc-button,
.fc-field-grouplet.fc-repeatable-container .fc-link a.checked {
    background: -webkit-linear-gradient(#fff, #eee);
    background: linear-gradient(#fff, #eee);
    background: -ms-linear-gradient(top, #fff, #eee);
}

.fc-button.checked {
    border-color: #669933;
}

.fc-content-radio-item {
    float: left;
    border: 1px solid #aeaeae;
    background: #fff;
    margin: 0 1% 15px 0;
    text-align: center;
    border-radius: 5px;
    min-height: 220px;
}

.fc-content-radio-item .fc-content-title {
    background: #EFEBEF;
    padding: 15px 0;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    border-radius: 6px 6px 0 0;
}

.fc-content-radio-item .fc-content-desc {
    height: 60px;
}

.fc-content-radio-item .fc-content-icon {
    font-size: 48px;
    margin-bottom: 15px;
    color: #666;
}

.fc-content-radio-item .fc-content-content {
    padding: 15px;
}

.fc-field-contentRadioList .fc-empty {
    clear: both;
}

.fc-field-contentRadioList > .fc-fieldcontainer > .fc-fieldgroup {
    margin-top: 25px;
}

.fc-content-radio-item .fc-button {
    width: 90%;
}

.fc-field-abnVerification input.fc-fieldinput {
    width: 80%;
    float: left;
}

.fc-field-abnVerification a.fc-button {
    float: left;
    margin-left: 10px;
}

.fc-field-abnVerification .fc-fieldgroup {
    position: relative;
}

.fc-field-abnVerification .fc-empty {
    clear: both;
}

.fc-container input[type=checkbox] {
    width: auto;
    display: inline;
}

/**
 * 4 column
 */
.fc-col-4 > div {
    width: 23%;
    margin-right: 2%;
}

.fc-col-4 .fc-col:nth-child(4n+1) {
    clear: both;
}

/**
 * 3 column
 */
.fc-col-3 > div {
    width: 31%;
    margin-right: 2%;
}

.fc-col-3 .fc-col:nth-child(3n+1) {
    clear: both;
}

.fc-field-apiLookup .fc-fieldgroup {
    position: relative;
}

.fc-field-apiLookup .fc-auto-suggest {
    position: absolute;
    z-index: 9;
    width: 100%;
    border: 1px solid #e5e5e5;
    margin-top: 2px;
}

.fc-field-apiLookup .fc-auto-suggest a {
    display: block;
    line-height: 30px;
    background: #fff;
    padding: 0 10px;
}

.fc-field-apiLookup .fc-auto-suggest .fc-suggest-row a:hover {
    background: #F6F6F6;
}

.fc-suggest-close {
    position: absolute;
    right: 0;
    top: 0;
}

.fc-suggest-close a {
    padding: 4px;
}

/**
 * greenID CSS Styling
 */
.fc-greenid-options {
    clear: both;
}

.fc-greenid-options .fc-child-options {
    margin: 25px 0 15px 0;
    position: relative;
}

.fc-green-field {
    float: left;
    width: 45%;
    padding-bottom: 10px;
}

.fc-green-field:nth-child(odd) {
    clear: both;
    margin: 0 15px 0 0;
}

.green-id-verify {
    margin: 15px 0;
}

.fc-greenid-options .fc-child-options .address_vic {
    width: 90%;
    float: none;
}

.fc-greenid-options .fc-child-options .address_vic input[type=text] {
    margin-bottom: 10px;
}

.fc-field-greenIdVerification .fc-verified  {
    border-color: #85C429;
}

.fc-field-greenIdVerification .fc-verified .fc-content-title {
    background: #85C429;
    color: #fff;    
    border-radius: 0;
}

.fc-field-greenIdVerification .fc-verified .fc-option-buttons {
    display: none;
}

.fc-field-greenIdVerification .fc-successfully-verified {
    display: none;
}

.fc-field-greenIdVerification .fc-verified .fc-successfully-verified {
    color: #519024;
    background: url(img/greenid/tick_24x24.png) no-repeat 0 top;
    padding-left: 30px;
    text-align: left;
    margin: 0 auto;
    display: inline;
    padding-top: 2px;
}

.fc-greenid-progress {
    clear: both;
}

.fc-greenid-progress  .progress-bar-success {
    background: #85C429;
    box-shadow: none;
}

.fc-greenid-options {
    position: relative;
}

.fc-field-greenIdVerification .fc-non-australia-fields {
    display: none;
}

.fc-field-greenIdVerification .fc-greenid-successfully-verified, .fc-field-greenIdVerification .fc-greenid-verification-packages {
    display: none;
}

.fc-field-greenIdVerification.fc-is-verified .fc-greenid-successfully-verified {
    display: block;
}

.fc-field-greenIdVerification.fc-is-verified .fc-greenid-verification-packages {
    display: none;
}

.fc-field-greenIdVerification.fc-not-verified .fc-greenid-verification-packages {
    display: block;
}

.fc-greenid-successfully-verified {
    color: #519024;
    background: url(img/greenid/tick_24x24.png) no-repeat 0 top;
    padding-left: 30px;
    text-align: left;
    margin: 0 auto;
    display: inline;
    padding-top: 2px;
}

.fc-field-greenIdVerification .fc-greenid-verification-error {
    display: none;
}

.fc-field-greenIdVerification.fc-verification-error .fc-greenid-verification-error {
    display: block;
}

.fc-field-greenIdVerification h5 {
    margin-top: 20px;
    font-weight: bold;
}

/**
 * FormCorp Loader
 */

.fc-loader-content {
    padding-top: 130px;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.fc-loader-wrapper {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.fc-loader {
    display: block;
    position: relative;
    left: 50%;
    top: 35%;
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 1001;
}

.fc-loader-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000;
    opacity: 0.3;
    border-radius: 9px;
    box-sizing: content-box;
    padding: 11px;
    left: -12px;
    top: -12px;
}

.fc-loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

.fc-loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg); /* IE 9 */
        transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg); /* IE 9 */
        transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg); /* IE 9 */
        transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg); /* IE 9 */
        transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
}

.fc-loader-container {
    opacity: 1;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.fc-loader-wrapper .loader-section {
    top: 0;
    width: 51%;
    height: 100%;
    /*background: #e5e5e5;*/
    z-index: 10;
    -webkit-transform: translateX(0); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(0); /* IE 9 */
    transform: translateX(0); /* Firefox 16+, IE 10+, Opera */
}

.fc-loader-wrapper .loader-section.section-left {
    left: 0;
}

.fc-loader-wrapper .loader-section.section-right {
    right: 0;
}

/**
 * Style range input
 */
.fc-field input[type=range]{
    -webkit-appearance: none;
    width: 90%;
    display: inline-block;
}

.fc-field input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 12px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

.fc-field input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #0392CE;
    margin-top: -8px;
    cursor: pointer;
}

.fc-numeric-outcome {
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
}

.fc-field input[type=range]:focus {
    outline: none;
}

.fc-field input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

.fc-green-id-header-summary {
    background: #F1F1F1;
    padding: 4px 18px;
    border-radius: 9px;
    margin-bottom: 18px;
}